@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #001400;
}

/* header */

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #330033;
}

#logo > img {
    height: 150px;
    width: auto;
    float: left;
    padding-left: 1rem;
    margin-left: 50px;
}

#menu {
    font-size: 110%;
    padding: 1rem 1rem;
}

#menu, #logo {
    line-height: 125px;
}

#menu li {
    float: right;
    margin-right: 50px;
    padding: 2px;
    list-style-type: none;
    display: inline;
    height: 1.5rem;
    position: relative;
}

#menu a {
    text-decoration: none;
    padding: 2px 2px;
}

#menu a:hover {
    border-bottom: 1px solid #001400;
}

.menu-red > a:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.menu-yellow > a:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.menu-blue > a:hover {
    background-color: rgba(0, 0, 255, 0.5);
}



/* header {
    position: absolute;
} */

hr {
    display: block;
    height: 1px;
    width: 90%;
    text-align: center;
    margin: 0 5%;
    color: #001400;
    background-color: #001400;
}