@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Montserrat&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
    color: #001400;
}

h1, h2 {
    font-family: 'Gloria Hallelujah', cursive;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    color: #330033;
}

/* logo and nav */

#logo > img {
    height: 80px;
}

#menu li {
    display: inline-block;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    padding: 1rem;
    color: #330033;
    border-radius: 6%;
}

.menu-red a:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.menu-yellow > a:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.menu-blue > a:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

.fixed-top {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 1px 10px 1px grey;
    padding: 0 2rem;
    padding-right: 2rem;
}

.nav .icon {
    display: none;
}

/* body sections */

.heading {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

section p, section li {
    text-align: left;
    font-size: 1.25rem;
    line-height: 2em;
}

.section-padding {
    padding: 70px 80px;
}

/* mona lisa */

#mona-lisa {
    padding: 4rem;
}

.img-container {
    display: flex;
    justify-content: center;
}

#mona-lisa-img {
    height: 600px;
}

#mona-lisa-heading {
    text-align: center;
    font-size: 2rem;
    background-image: url(../images/background-red.png);
    background-size: 12rem 6rem;
    background-repeat: no-repeat;
    background-position: center;
}

/* who is */

#who-is-heading {
    background-image: url(../images/background-yellow.png);
    background-size: 14rem 6rem;
    background-repeat: no-repeat;
    background-position: center;
}

.side-by-side {
    display: flex;
    padding: 4rem;
    align-items: center;
    justify-content: space-between;
}

#detail-img-one {
    width: 600px;
}

#detail-img-two {
    width: 600px;
}

/* where is */

#where-is-heading {
    background-image: url(../images/background-blue.png);
    background-size: 17rem 6rem;
    background-repeat: no-repeat;
    background-position: center;
}

#louvre-img {
    width: 600px;
    margin: 30px auto;
}

#where-is-map {
    width: 30rem;
    height: 20rem;
    margin-left: 5rem;
}

/* who painted */

#who-painted-heading {
    background-image: url(../images/background-yellow.png);
    background-size: 20rem 6rem;
    background-repeat: no-repeat;
    background-position: center;
}

#leonardo-img {
    height: 600px;
    margin-right: 5rem;
}

/* knowledge */

#knowledge-heading {
    background-image: url(../images/background-red.png);
    background-size: 25rem 6rem;
    background-repeat: no-repeat;
    background-position: center;
}

form {
    font-size: 1.25rem;
    line-height: 2em;
    margin: 1rem 9rem;
}

fieldset {
    padding: 2rem;
}

fieldset > legend {
    text-decoration: underline;
}

/* modal box styling from w3schools */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #001400;
    width: 60%;
    text-align: center;
    font-size: 100%;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button {
    border: 1px solid #001400;
    border-radius: 5%;
    font-size: 1.25rem;
    line-height: 2em;
    padding: 2px 5px;
}

button:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

#button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

/* footer  */

hr {
    display: block;
    height: 1px;
    width: 90%;
    text-align: center;
    margin: 0 5%;
    color: #001400;
    background-color: #001400;
}

footer {
    padding-top: 4rem;
}

.text-center {
    text-align: center;
    margin: auto 10%;
}

footer p {
    font-size: 1.25rem;
}

.social-media > li {
    display: inline;
}

.social-media i {
    font-size: 2rem;
    margin: 1%;
    padding: 1rem;
    color: #330033;
    border-radius: 10%;
}

.social-red i:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.social-yellow i:hover {
    background-color: rgba(255, 255, 0, 0.5);
}

.social-blue i:hover {
    background-color: rgba(0, 0, 255, 0.5);
}

/* media queries */

@media screen and (max-width: 1400px) {
    .side-media-query {
        display: block;
        text-align: center;
    }
    #detail-img-one, #detail-img-two {
        padding: 0;
    }
    #who-is-left-list {
        margin-bottom: 2rem;
    }
    #who-is-right-list {
        margin-top: 2rem;
    }
    .side-by-side {
        padding: 0;
    }
    #where-is-map {
        padding: 2rem 0 0;
        margin-left: 0;
    }
    #leonardo-img {
        padding: 0 0 2rem;
        margin-right: 0;
    }
    #who-painted-right {
        width: 100%;
    }
}

@media screen and (max-width: 1220px) {
    .fixed-top {
        display: block;
        text-align: center;
    }
    #form {
        display: block;
    }
    #menu a {
        padding: 1px 5px;
    }
    #who-is-right-list {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 850px) {
    .img-container {
        display: block;
        text-align: center;
    }
    .section-padding {
        padding: 70px 25px;
    }
    section p {
        margin: auto 1rem;
    }
    .side-media-query {
        padding: 0;
    }
    #who-is-left-list, #who-is-right-list {
        margin: 0;
        padding: 1rem 2rem;
    }
    form {
        margin: 3rem 1rem;
    }
    fieldset {
        padding: 1rem;
    }
    #between-img {
        padding: 1rem 0;
    }
    .social-media i {
        font-size: 1.5rem;
    }
    /* mobile menu styling from w3schools */
    .nav a {
        display: none;
    }
    .nav a.icon {
        display: block;
    }
    .nav.responsive {
        position: relative;
    }
    .nav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .nav.responsive a {
        float: none;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #mona-lisa-img {
        height: auto;
        width: 100%;
    }
    #detail-img-one, #detail-img-two, #louvre-img, #leonardo-img {
        height: auto;
        width: 90%;
    }
    #louvre-img {
        margin: 0;
        padding: 1rem 0;
    }
    #where-is-map {
        width: 90%;
    }
    .heading{
        font-size: 1.5rem;
    }
}